html, body, #app, #div-app {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

* {
    box-sizing: border-box;
}

.userMessage {
	/*width: 50%;*/
	text-align: left;
	/*display: inline-block;*/
}

.dateMessage {
	/*width: 50%;*/
	text-align: right;
    color: #CCCCCC;
}

#left-column {
    height: 100%;
    background-color: #A12C26;
    padding: 10px;
}

#profile {
    height: 100%;
    background-color: #550400
}

#banner {
    height: 100%;
    background-color: #550400;
}

#div-line {
	/*
	float: left;
	width: 85%;
	display: inline-block;
	*/
	height: 100%;
	font-size: 1.0em;
}

#messages {
	list-style: none;
    /*list-style-type: none;*/
    overflow: scroll;
    margin: 0px;
    padding: 5px;
}

#messages li {
	margin-bottom: 10px;
}

.message {
    padding: 10px;
    background-color: #f4f4f4;
}

#main-content {
	height: 100%;
}

input, button {
	margin: 0px !important;
}

#cubes {
    height: 100%;
    background-color: #A12C26;
}

.circleListItem {
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 150%;
    cursor: pointer;
}

#search {
    margin-bottom: 30px;
}

.navigationList {
    overflow: scroll;
}

::-webkit-scrollbar { 
    display: none; 
}

#banner {
    display:table-cell; 
    vertical-align:middle; 
    text-align:center
}

.bannerPicture {
    height:100%;
}

.circularImageContainer {
    margin: 5px;
    display: inline-block;
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
}

.circularImageContainer img {
    width: auto;
    height: 100%;
}

.circleTitle {
    line-height: 230%;
    text-align: center;
    color: #FFFFFF
}

.imageLine {
    height:100%;
    display:table-cell; 
    vertical-align:middle;
    text-align:center;
}

.userPicture {
    height:40px;
    
}