html, body, #app, #div-app {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

* {
    box-sizing: border-box;
}

.userPoint {
	/*width: 50%;*/
	text-align: left;
	/*display: inline-block;*/
}

.datePoint {
	/*width: 50%;*/
	text-align: right;
}

#left-column {
    height: 100%;
    background-color: #A12C26;
}

#profile {
    height: 100%;
    background-color: #550400
}

#banner {
    height: 100%;
    background-color: #801B15;
}

#div-line {
	/*
	float: left;
	width: 85%;
	display: inline-block;
	*/
	height: 100%;
	font-size: 1.0em;
	border: 2px solid blue;
	padding: 5px;
}

#div-line input, #div-line button {
	margin: 0px !important;
}

#points {
	list-style: none;
	/*list-style-type: none;*/
	overflow: scroll;
	margin: 0px;
	padding: 5px;
}

#points li {
	margin-bottom: 10px;
}

#main-content {
	height: 100%;
}

/*
input, button {
	margin: 0px !important;
}
*/

#cubes {
    height: 100%;
    background-color: #A12C26;
}

#error-point p {
	margin-bottom: 0px;
	font-size: 0.9em;
}

.point {
	background-color: #f4f4f4;
	padding: 5px;
}
