html, body, #app, #div-app {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

* {
	margin: !important 0px;
	padding: !important 0px;
    box-sizing: border-box;
}

.message {
	border: 1px solid black;
}

.userMessage {
	/*width: 50%;*/
	text-align: left;
	/*display: inline-block;*/
}

.dateMessage {
	/*width: 50%;*/
	text-align: right;
}

#left-column {
	border-right: 2px solid red;
	border-top: 2px solid red;
	height: 100%;

	/*
	float: left;
	width: 15%;
	display: inline-block;
	*/
}

#div-circle {
	/*
	float: left;
	width: 85%;
	display: inline-block;
	*/
	height: 80%;
	font-size: 1.0em;
}

#circle {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#circle > * {
    margin: 0px;
    padding: 0px;
}

#top-circle {
    height: 20%;
}

/*
#pp-circle {
    margin-bottom: 0px;
}

#banner-circle {
    margin-bottom: 0px;
}
*/

#content-circle {
    height: 80%;
    margin-bottom: 0px;
}

#line-circle {
    margin-bottom: 0px;
}

#messages {
    list-style-type: none;
}